.ColorBox{
    width: 20%;
    height:25%;
    display: inline-block;
    cursor: pointer;
    margin:0 auto;    
    position: relative;
}
.copy-button{
    width: 100px;
    height:30px;
    position:absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline:none;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border: none;
    opacity: 0;
    margin-bottom: -3.5px;
}
.ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.5sec;
}
.box-container{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
.see-more{
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    border: none;
    right: 0;
    bottom:0;
    color:white;
    width:60px;
    height:30px;
    text-align: center;
    line-height: 30px;
}