.ColorBox {
  width: 20%;
  height: 25%;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  margin-bottom: -3.5px;
}
.SinglePalette .ColorBox {
  height: 50%;
}
.ColorBox.go-back {
  background-color: black;
}
.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-bottom: -3.5px;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5sec;
}
